*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #68b0d9;
}

.quizArea {
  width: 60vw;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.buttonArea {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

button {
  --hue: var(--hue-neutral);
  border: 1px solid grey;
  background-color: #0e2939;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

button:hover {
  border-color: black;
}

.start {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}
